.container{
    max-width: 1300px;
    width:90px 80px;
    text-align: center;
    padding: 40px;
    margin: 30
} 
.blue {
    margin: 20px;
    padding: 35px;
    background-color: rgb(240, 251, 123);
    text-align: center;
    box-shadow: 5px 4px gray;
    outline-width: 5px;
    outline-style:solid ;
    outline-color: rgb(0, 4, 255);
    
}
.green {
    padding: 35px;
    margin:20px ;
    background-color: rgb(50, 1, 163);
    text-align: center;
    box-shadow: 5px 4px gray;
    outline-style: solid;
    outline-width:5px ;
    outline-color: orangered;

    
    
}
.orange{
    margin:20px ;
    padding: 35px;
    background-color:rgb(128, 27, 120);
    text-align: center;
    box-shadow: 5px 4px gray;
    outline-color: black;
    outline-width: 5px;
    outline-style: solid;
}
